<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ray.io.raysakakibara.prive">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/iconxxhdpi"
        android:label="Prive"
        android:roundIcon="@drawable/iconxxhdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Liststar1" />
        <activity android:name=".Liststar2" />
        <activity android:name=".Liststar3" />
        <activity android:name=".Liststar4" />
        <activity android:name=".Liststar5"></activity>
    </application>

</manifest>